body {
position: relative;
background-image: url('../images/follow-me_872.jpg')
}

.header{
position: absolute;   
height: 18%;    
width: 90%;
background-color: coral;
border:15px solid red;
border-radius: 15px;
color: red;
font-size: 270% ;
text-shadow:0 0 25px;
box-shadow:0 0 20px;
left: 2%;
font-family: sans-serif, serif;
}

.left {
position: absolute;
width:20%;
height: 66%;
background-color: crimson;
border:15px solid red ; 
border-radius:15px; 
color: darkred; 
box-shadow:0 0 20px;
top:25%;
}

.footer{
position: absolute;   
height: 18%;    
width: 95%;
background-color: firebrick;
border:15px solid red;
border-radius: 15px;
color: red;
font-size: 220% ;
text-shadow:0 0 25px;
box-shadow:0 0 20px;
left: 2%;
top: 100% ;
font-family: sans-serif;
}
.bock {
 list-style-type: none;
}

.item {
 font-size:150%;
  font-family: sans-serif;
    
}
.item:hover{
background-color: white;
color: red;
}
.item1 {
 font-size: 160%;
background-color: white;
color: red;
font-family: sans-serif;
}

.item2 {
position: absolute;
width:24%; 
height:24%;
background-color: white;
left: 25%;
top: 25%;
border:7px solid red ; 
border-radius:10px;
color: orangered;
font-family: sans-serif, serif;
font-size:145%; 
text-align: center; 

}
.item3 {
position: absolute;
width:24%; 
height:24%;
background-color: white;
left: 50%;
top: 25%;
border:7px solid red ; 
border-radius:10px;
color: orangered;
font-family: sans-serif, serif;
font-size:145%; 
text-align: center; 

}
.item4 {
position: absolute;
width:24%; 
height:24%;
background-color: white;
left: 75%;
top: 25%;
border:7px solid red ; 
border-radius:10px;
color: orangered;
font-family: sans-serif, serif;
font-size:145%; 
text-align: center; 

}
.item5 {
position: absolute;
width:73%; 
height:24%;
background-color: white;
left: 25%;
top: 55%;
border:7px solid red ; 
border-radius:10px;
color: orangered;
font-family: sans-serif, serif;
font-size:400%; 
text-align: center;
text-shadow:0 0 30px;

}
.text1 {
color: white;
position: absolute;
left:37%; 
top: 10%;
text-shadow:0 0 35px ;
    
}
.text2 {
color: white;
position: absolute;
left:47%; 
top: 40%;
text-shadow:0 0 35px ;
font-size: 50% ;  
}
.item5:hover {
background-color: red;
color: white; 
border:15px solid pink;
}

.text3 {
 color: gold;
position: absolute;
left:51%; 
top: 47%;
text-shadow:0 0 25px ;
font-size: 110% ;    
    
}
.text4 {
color: white;
font-size:75%    
}
.text5 {
color: white;
font-size:33%; 
position: absolute;
top: 80%
}
.login {   
 background-color: mediumvioletred;
position:absolute;
left: 94%;
border:2px solid red;    
}
a {
color: white;
font-family: sans-serif;
text-decoration: none;
}

.item2 img, .item3 img, .item4 img {
	display: block; 
	max-width: 100%; 
	max-height: 100%;
}